body.acordo_coletivo{
	grid-template-rows:120px 60px 1fr 60px;
	grid-template-areas:
		"cabecalho"
		"navegacao"
		"principal"
		"rodape";			
}

.principal {
	height: calc(100vh - 240px);
}

#menu-h{
    background-color: rgb(37, 37, 39);
	grid-area: navegacao;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#menu-h ul {
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px 10px;
	margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}


.conteudo {
	font-size:2rem;
}

.conteudo > .titulo {
	font-size: 2.5rem;
	font-weight: 300;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
	margin-bottom: 20 px;
}

